// variables
// why not add more?
$primary-text-color: rgb(255, 255, 255);

// Blue colors
$blue-1: #043e7d;
$blue-2: #0d68ca;

// set background color between white and black - will also affect below function
// $primary-background-color: rgb(0, 0, 0);
$primary-background-color: rgb(255, 255, 255);

// set text color based on background color
@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return rgb(0, 0, 0);
  } @else {
    @return rgb(255, 255, 255);
  }
}
