@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
.page-three-header, .page-two-header, .page-one-header {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: rgb(255, 255, 255);
}

.page-one-header {
  background-image: url(../images/backgroundPageOne.jpg);
}

.page-two-header {
  background-image: url(../images/backgroundPageTwo.jpg);
}

.page-three-header {
  background-image: url(../images/backgroundPageThree.jpg);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

.header {
  height: 100vh;
  width: 100%;
  background-image: url(../images/background.jpg);
  /* background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/background.jpg); */
  background-position: center;
  background-size: cover;
  /* position: relative; */
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  animation: fade-in 1s 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}
nav img {
  /* border-radius: 50%; */
  width: 100px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-links {
  /* flex: 1;
    text-align: right; */
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  /* position: relative */
}
.nav-links ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 1px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  animation: float-up 1s 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.text-box h1 {
  font-size: 62px;
  text-transform: uppercase;
}
.text-box p {
  font-size: 20px;
  margin: 10px 0 50px;
}

@keyframes float-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.main-link {
  /* display: inline-block; */
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  /* background: transparent; */
  /* position: relative; */
  /* cursor: pointer; */
}

.main-link:hover {
  background: rgba(179, 210, 255, 0.5);
  transition: 0.5s;
}

.nav-open {
  display: none;
}

.nav-close {
  display: none;
}

#introSection {
  margin: 5% 0;
}

#introSectionTextContainer {
  text-align: center;
  max-width: 1000px;
  padding: 50px;
  margin: 0 auto;
}

#introSection h2 {
  font-weight: 300;
  font-size: 70px;
}

#introSection h3 {
  margin: 5vh 0;
  font-weight: 300;
  color: #777777;
  text-transform: uppercase;
}

#introSection div img {
  height: 50px;
}

#introSection div span {
  display: inline-block;
  height: 20px;
  width: 300px;
  content: "";
  border-top: 1px #777777 solid;
  margin: 0 25px;
}

#introSection p {
  margin-top: 3vh;
  font-weight: 300;
  color: #777777;
  line-height: 2rem;
}

#introSection a {
  display: block;
  margin: 3vh auto 0;
  border: 1px #777777 solid;
  padding: 10px 20px;
  text-decoration: none;
  color: #777777;
  width: fit-content;
  transition: 0.25s;
}

#introSection a:hover {
  background-color: rgba(119, 119, 119, 0.1450980392);
}

#introSection .revealBelow {
  opacity: 0;
}

#introSection .activeBelow {
  animation: revealFromBelow 1s 0s;
  transform: translateY(75px);
  animation-fill-mode: forwards;
}

@keyframes revealFromBelow {
  0% {
    transform: translateY(75px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#introSection .revealRightSide {
  opacity: 0;
}

#introSection .activeRightSide {
  animation: revealFromRight 1s 0s;
  transform: translateX(75px);
  animation-fill-mode: forwards;
}

@keyframes revealFromRight {
  0% {
    transform: translateX(75px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
#introSection .growFromRight {
  transform: scaleX(0);
}

#introSection .activeGrowFromRight {
  animation: growFromRight 1s 1.5s;
  transform-origin: right;
  animation-fill-mode: forwards;
}

@keyframes growFromRight {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
#introSection .growFromLeft {
  transform: scaleX(0);
}

#introSection .activeGrowFromLeft {
  animation: growFromLeft 1s 1.5s;
  transform-origin: left;
  animation-fill-mode: forwards;
}

@keyframes growFromLeft {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
#introSection .fadeIn {
  opacity: 0;
}

#introSection .activeFadeIn {
  animation: fadeIn 1s 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#firstBannerSection {
  height: 100vh;
  background-image: url(../images/20171125_132142.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#firstBannerSection div {
  background-color: #ffffff;
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  text-align: center;
  text-transform: uppercase;
  padding: 30px;
}

#firstBannerSection div h3 {
  font-size: 40px;
  font-weight: 300;
}

#firstBannerSection div p {
  font-size: 20px;
  font-weight: 300;
  color: #777777;
}

.rightImageText {
  height: 100vh;
  display: flex;
  width: 90%;
  margin: auto;
}

.rightImageText div:nth-child(1) {
  width: 45%;
  margin: auto;
}

.rightImageText h3 {
  padding-right: 10vw;
  font-size: 40px;
  font-weight: 400;
}

.rightImageText h4 {
  padding-right: 10vw;
  font-size: 20px;
  font-weight: 300;
}

.rightImageText p {
  padding-right: 10vw;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2rem;
}

.rightImageText a {
  display: block;
  border: 1px #777777 solid;
  padding: 10px 20px;
  text-decoration: none;
  color: #777777;
  width: fit-content;
  transition: 0.25s;
  margin-top: 25px;
}

.rightImageText a:hover {
  background-color: rgba(119, 119, 119, 0.1450980392);
}

.rightImageText div:nth-child(2) {
  width: 55%;
  padding: 15vh 0;
}

.rightImageText img {
  height: 100%;
  width: 0%;
  object-fit: cover;
  object-position: left;
}

.rightImageText .revealBelow {
  opacity: 0;
}

.rightImageText .activeBelow {
  animation: revealFromBelow 1s 0s;
  transform: translateY(75px);
  animation-fill-mode: forwards;
}

.rightImageText .activeImgGrowFromLeft {
  animation: imgGrowFromLeft 1s 0.5s;
  animation-fill-mode: forwards;
}

@keyframes imgGrowFromLeft {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.leftImageText {
  height: 100vh;
  display: flex;
  width: 90%;
  margin: auto;
}

.leftImageText div:nth-child(1) {
  width: 55%;
  padding: 15vh 0;
}

.leftImageText h3 {
  padding-left: 10vw;
  font-size: 40px;
  font-weight: 400;
}

.leftImageText h4 {
  padding-left: 10vw;
  font-size: 20px;
  font-weight: 300;
}

.leftImageText p {
  padding-left: 10vw;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2rem;
}

.leftImageText a {
  display: block;
  border: 1px #777777 solid;
  padding: 10px 20px;
  text-decoration: none;
  color: #777777;
  width: fit-content;
  transition: 0.25s;
  margin-top: 25px;
  margin-left: 10vw;
}

.leftImageText a:hover {
  background-color: rgba(119, 119, 119, 0.1450980392);
}

.leftImageText div:nth-child(2) {
  width: 45%;
  margin: auto;
}

.leftImageText img {
  height: 100%;
  width: 0%;
  object-fit: cover;
  object-position: left;
}

.leftImageText .revealBelow {
  opacity: 0;
}

.leftImageText .activeBelow {
  animation: revealFromBelow 1s 0.5s;
  transform: translateY(75px);
  animation-fill-mode: forwards;
}

.leftImageText .activeImgGrowFromLeft {
  animation: imgGrowFromLeft 1s 0s;
  animation-fill-mode: forwards;
}

/* photo grid  */
#photoGrid {
  margin: 150px 5vw 0 0vw;
  padding: 50px 0;
  height: 95vh;
  background: linear-gradient(to right, #bedaf7 50%, transparent 50%);
}

#photoGrid h2 {
  font-size: 40px;
  margin-left: 20vw;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
}

#rowOne {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: calc(5vw - 5px);
}

#rowOne > div {
  padding: 5px;
}

#rowOne img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 5px;
}

#rowOne div:nth-child(1) {
  height: 40vh;
  width: calc(14vw - 10px);
}

#rowOne div:nth-child(2) {
  height: 50vh;
  width: calc(38vw - 10px);
}

#rowOne div:nth-child(3) {
  height: 30vh;
  width: calc(19vw - 10px);
}

#rowOne div:nth-child(4) {
  height: 30vh;
  width: calc(19vw - 10px);
}

#rowTwo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: calc(5vw - 5px);
}

#rowTwo > div {
  padding: 5px;
}

#rowTwo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 5px;
}

#rowTwo div:nth-child(1) {
  height: 40vh;
  width: calc(14vw - 10px);
  transform: translateY(-10vh);
}

#rowTwo div:nth-child(2) {
  height: 30vh;
  width: calc(19vw - 10px);
}

#rowTwo div:nth-child(3) {
  height: 30vh;
  width: calc(19vw - 10px);
}

#rowTwo div:nth-child(4) {
  height: 50vh;
  width: calc(38vw - 10px);
  transform: translateY(-20vh);
}

#secondBannerSection {
  margin-top: 150px;
  height: 100vh;
  color: #ffffff;
  background-image: url(../images/20190623_165340.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: right;
}

#secondBannerSection div {
  margin: 0 10%;
  width: 35%;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
}

#secondBannerSection div h3 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 20px;
}

#secondBannerSection div p {
  margin-top: 25px;
  font-size: 18px;
  line-height: 2rem;
  font-weight: 300;
}

#secondBannerSection a {
  display: block;
  border: 1px #ffffff solid;
  padding: 10px 20px;
  text-decoration: none;
  color: #ffffff;
  width: fit-content;
  transition: 0.25s;
  margin-top: 25px;
  position: absolute;
  right: 0;
}

#secondBannerSection a:hover {
  background-color: rgba(119, 119, 119, 0.1450980392);
}

#bannerThreeBoxes {
  height: 80vh;
  background-image: url("../images/20160119_151048.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#bannerThreeBoxes #bannerRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  width: 85%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  bottom: 10%;
}

#bannerThreeBoxes .revealBelow {
  opacity: 0;
}

#bannerThreeBoxes .activeBelow {
  animation: revealFromBelow 0.5s 0s;
  transform: translateY(75px);
  animation-fill-mode: forwards;
}

#bannerThreeBoxes #bannerRow .bannerCol {
  background-color: rgba(255, 255, 255, 0.8784313725);
  padding: 17% 7%;
  text-align: center;
}

#bannerThreeBoxes #bannerRow .bannerCol h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}

#bannerThreeBoxes #bannerRow .bannerCol p {
  font-weight: 300;
}

#mainPageFormSection {
  height: 600px;
  display: flex;
  width: 90vw;
  margin: auto;
}

#mainPageFormSectionLeftCol {
  width: 40%;
  margin: 2%;
  text-align: center;
  background-color: #0d68ca;
  color: #ffffff;
}

#mainPageFormSection .revealBelow {
  opacity: 0;
}

#mainPageFormSection .activeBelow {
  animation: revealFromBelow 1s 0s;
  transform: translateY(75px);
  animation-fill-mode: forwards;
}

#mainPageFormSectionLeftCol div:first-of-type {
  padding: 0 5%;
  margin: 15% 0 0;
}

#mainPageFormSectionLeftCol h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 10px;
}

#mainPageFormSectionLeftCol img {
  height: 50px;
}

#mainPageFormSectionLeftCol span {
  display: inline-block;
  height: 20px;
  width: 10%;
  content: "";
  border-top: 1px #ffffff solid;
  margin: 0 25px;
}

#mainPageFormSectionLeftCol h3 {
  margin: 10px 0;
  font-size: 36px;
  text-transform: uppercase;
}

#mainPageFormSectionLeftCol p:first-of-type {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
}

#mainPageFormSectionLeftCol span:nth-of-type(3) {
  display: inline-block;
  height: 0px;
  width: 10%;
  content: "";
  border-top: 1px #ffffff solid;
  margin: 0 25px;
}

#mainPageFormSectionLeftCol p:nth-of-type(2) {
  font-size: 14px;
  font-weight: 300;
  margin-top: 30px;
}

#mainPageFormSectionRightCol {
  width: 60%;
  background-color: #043e7d;
  margin: 2%;
}

#mainPageFormSectionRightCol form {
  width: 80%;
  margin: 10% auto 0;
}

#mainPageFormSectionRightCol form input,
select {
  padding: 0;
  margin: 0;
  height: 50px;
  border: none;
  border-bottom: 1px #ffffff solid;
  border-radius: 0;
  background-color: #043e7d;
  color: #ffffff;
  font-size: 18px;
}

#mainPageFormSectionRightCol form input::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

#mainPageFormSectionRightCol form div:first-of-type {
  display: flex;
  justify-content: space-between;
}

#firstName {
  display: block;
  width: 45%;
}

#lastName {
  display: block;
  width: 45%;
}

#email {
  width: 100%;
}

#phone {
  width: 100%;
}

#howFind {
  width: 100%;
}

#howFind option {
  background-color: #043e7d;
}

#checkboxContainer {
  display: flex;
  position: relative;
}

#checkbox {
  display: block;
  height: 15px;
  width: 15px;
}

#checkboxLabel {
  display: block;
  font-size: 14px;
  display: inline;
  position: absolute;
  left: 25px;
  bottom: 15px;
  margin: 0;
  color: #ffffff;
}

form button {
  display: block;
  border: #ffffff 1px solid;
  padding: 15px 30px;
  background-color: transparent;
  color: #ffffff;
  text-transform: uppercase;
  width: fit-content;
  margin: auto;
  transition: 0.25s;
}

form button:hover {
  background-color: rgba(13, 104, 202, 0.3137254902);
}

#blog {
  padding: 50px 0;
}

#blog .revealBelow {
  opacity: 0;
}

#blog .activeBelow {
  animation: revealFromBelow 1s 0s;
  transform: translateY(75px);
  animation-fill-mode: forwards;
}

#blogRow .revealBelow {
  opacity: 0;
}

#blogRow .activeBelow {
  animation: revealFromBelow 1s 0s;
  transform: translateY(75px);
  animation-fill-mode: forwards;
}

#blog h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 400;
  margin-bottom: 50px;
}

#blogRow {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.blogCol {
  width: 75%;
  margin: 0 auto;
  position: relative;
}

#blogRow img {
  width: 100%;
  height: 35%;
  object-fit: cover;
}

#blogRow h3 {
  font-size: 24px;
  padding: 25px 25px;
  text-transform: uppercase;
  font-weight: 400;
}

#blogRow span {
  display: inline-block;
  height: 20px;
  width: 33%;
  content: "";
  border-top: 1px rgba(0, 0, 0, 0.1450980392) solid;
  margin: 0 25px;
}

#blog .blogCol p:first-of-type {
  font-size: 18px;
  color: #000000;
  padding: 10px 25px;
}

#blogRow .blogCol p:nth-of-type(2) {
  font-size: 16px;
  color: #000000;
  padding: 10px 25px 100px;
  line-height: 1.5rem;
}

#blogRow a {
  background-color: #043e7d;
  display: block;
  border: #ffffff 1px solid;
  padding: 15px 30px;
  color: #ffffff;
  text-transform: uppercase;
  width: fit-content;
  margin: 10px 25px;
  transition: 0.25s;
  text-decoration: none;
  position: absolute;
  bottom: 0;
}

#blogRow a:hover {
  background-color: rgba(4, 62, 125, 0.4588235294);
}

#carouselThree {
  width: 100%;
  height: 100vh;
  position: relative;
}

#carouselThree .slide3 {
  width: 100%;
  height: 100%;
  position: absolute;
}

#carouselThree .slide3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
  filter: brightness(85%);
}

#carouselThree .slide3 h3 {
  position: absolute;
  top: 35%;
  text-align: center;
  width: 60%;
  left: 0;
  right: 0;
  margin: auto;
  color: #ffffff;
  z-index: 10;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

#carouselThree .slide3 p {
  position: absolute;
  top: 45%;
  text-align: center;
  width: 60%;
  left: 0;
  right: 0;
  margin: auto;
  color: #ffffff;
  z-index: 10;
  font-size: 20px;
  line-height: 2rem;
  font-weight: 300;
}

.carousel-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  border: none;
}

.btn-prev {
  left: 2%;
  top: 45%;
  background-image: url(../images/icons8-back-50.png);
}

.btn-next {
  right: 2%;
  top: 45%;
  background-image: url(../images/icons8-forward-50.png);
}

#carouselImgOne {
  opacity: 1;
  transition: 1s;
}

#carouselImgTwo {
  opacity: 0;
  transition: 1s;
}

#carouselImgThree {
  opacity: 0;
  transition: 1s;
}

#carouselThree span {
  position: absolute;
  bottom: 2%;
  width: 10px;
  height: 10px;
  border: 1px white solid;
  transition: 1s;
  transform: rotate(45deg);
}

#markerOne {
  left: 45%;
  background-color: white;
}

#markerTwo {
  left: 0;
  right: 0;
  margin: auto;
  background-color: transparent;
}

#markerThree {
  right: 45%;
  background-color: transparent;
}

#instaCarouselSection {
  margin: 150px 0 0;
}

#instaCarouselSection div:first-of-type {
  text-align: center;
  text-decoration: none;
}

#instaCarouselSection div:first-of-type a {
  text-decoration: none;
  color: #000000;
}

#instaCarouselSection div:first-of-type h3 {
  margin: 25px 0 10px;
  font-weight: 400;
  padding: 0;
}

#instaCarouselSection div:first-of-type h2 {
  margin: 10px 0 40px;
  font-weight: 500;
  font-size: 30px;
  padding: 0;
}

#instaCarouselSection div:first-of-type img {
  height: 35px;
}

#instaCarousel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
}

#instaCarousel a {
  width: 100%;
  height: 100%;
}

#instaCarousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* start of main section  */
/* the end of the main section  */
/* call to aciton */
#footer {
  margin: 0 auto;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/background.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 25px 0 0;
}
#footer #footerTitleDiv {
  font-size: 18px;
}
#footer #footerTitleDiv a {
  text-decoration: none;
}
#footer #footerTitleDiv a h1 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
#footer #footerTitleDiv a img {
  width: 50px;
  height: 50px;
}
#footer p {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5rem;
  margin: 0px 0;
}
#footer #contactHolder {
  margin: 20px 0;
}

#SMicons {
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 0 0 30px;
}
#SMicons a {
  margin: 0 1%;
}
#SMicons img {
  width: 25px;
  height: 25px;
}

#copywriteInfo {
  background-color: #ffffff;
  margin: 0;
  padding: 5px 0;
}
#copywriteInfo p {
  color: #000000;
  margin: 5px 0;
}
#copywriteInfo a {
  text-decoration: none;
  color: #000000;
}

/* page one style */
.pageOneContent {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
  color: rgb(0, 0, 0);
}
.pageOneContent .description {
  margin-top: 50px;
  margin-bottom: 75px;
}
.pageOneContent .description h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.5em;
}
.pageOneContent .description p {
  line-height: 1.5em;
  text-align: left;
}

.pageOneColumn {
  flex-basis: 48%;
  padding: 30px 2px;
}
.pageOneColumn img {
  max-width: 75%;
}
.pageOneColumn h1 {
  padding-top: 0;
}
.pageOneColumn p {
  padding: 15px 0 25px;
}

.map {
  padding-top: 75px;
  padding-bottom: 50px;
  /* max-width: 100%; */
  overflow: hidden;
}

/* responsive map */
.google-maps {
  padding-top: 75px;
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* photo array */
.photoArray {
  display: grid;
  width: 100%;
  height: 80vh;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 25% 25%;
  grid-template-rows: 50% 50%;
  text-align: center;
  grid-template-areas: "photoOne photoTwo photoThree" "photoOne photoFour photoFive";
}
.photoArray img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .photoArray div {
    border: 2px solid black;
  } */
.photoArray div:first-child {
  grid-area: photoOne;
}

#galleryTitle {
  padding: 50px;
}

.map h2 {
  padding: 50px;
}

/* privacy policy  */
.privacy-text-box {
  width: 90%;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.privacy-text-box h1 {
  font-size: 42px;
}
.privacy-text-box p {
  font-size: 16px;
  margin: 10px 0 10px;
}

#privacyCta {
  margin: 10px auto 0;
}

/* contact page  */
/* form section  */
#contactHeader {
  height: 150px;
}

#formSection {
  width: 100%;
  /* background-color: rgb(240, 239, 239); */
  padding-bottom: 120px;
  color: rgb(0, 0, 0);
}

#formContainer {
  width: fit-content;
  margin: auto;
  padding-top: 75px;
}

#formSection h2 {
  /* padding-bottom: 15px; */
  text-align: center;
}

#formSection p {
  text-align: center;
}

#formDiv {
  margin-top: 35px;
}

form label {
  text-align: left;
  display: inline-block;
  width: 225px;
  font-size: 20px;
  margin: 20px 0;
}

form label span {
  background-color: #70afe9;
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 3px;
  float: right;
  margin-right: 25px;
  margin-top: 3px;
  border-radius: 5px;
}

form input {
  width: 600px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 10px;
  background-color: rgb(240, 239, 239);
}

form textarea {
  border: none;
  outline: none;
  width: 600px;
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(240, 239, 239);
}

form #messageLabel {
  position: relative;
  top: -80px;
}

#buttonHolder {
  width: fit-content;
  margin: auto;
}

form #submitButton {
  border: 1px solid black;
  border-radius: 25px;
  width: 300px;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
  margin: auto;
}

form #submitButton:hover {
  cursor: pointer;
}

#returnToTopButton {
  position: fixed;
  bottom: 0;
  right: 2%;
  background-color: rgba(255, 255, 255, 0.5647058824);
  display: none;
}

#returnToTopButton a {
  display: block;
  width: 25px;
  padding: 10px;
}

#returnToTopButton img {
  width: 100%;
}

@media (max-width: 800px) {
  .text-box h1 {
    font-size: 20px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: rgba(179, 210, 255, 0.5);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  .nav-open {
    display: block;
    background: transparent;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    opacity: 1;
    transition: 1s;
  }
  .nav-open:hover {
    background: rgba(179, 210, 255, 0.75);
  }
  .nav-close {
    display: block;
    background: transparent;
    border: 2px solid white;
    color: rgb(255, 255, 255);
    margin: 10px;
    padding: 5px;
    font-size: 22px;
    cursor: pointer;
    opacity: 1;
  }
  .nav-close:hover {
    background: rgba(179, 210, 255, 0.75);
    transition: 0.5s;
  }
  .nav-links ul {
    padding: 20px;
  }
  .row {
    flex-direction: column;
  }
  .photoArray {
    display: inline;
  }
  .cta h1 {
    font-size: 20px;
  }
  /* footer */
  #footerColumns {
    width: 100%;
  }
  /* responsive map */
  .photoArray {
    margin-bottom: 50px;
  }
  #map-holder {
    margin-top: 50px;
  }
  .map {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
  }
  .map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  /* contact page  */
  /* forms section  */
  /* form section  */
  #formContainer {
    width: 90vw;
    margin: 0 2% 0;
  }
  form label {
    width: 100%;
  }
  form label {
    margin: 30px 0 10px;
  }
  form label span {
    margin-right: 5px;
  }
  form input {
    width: 100%;
  }
  form textarea {
    width: 100%;
    margin-top: 0;
  }
  form #messageLabel {
    top: 0px;
  }
  #buttonHolder {
    margin: 50px auto 0;
  }
}/*# sourceMappingURL=style.css.map */