* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(images/background.jpg);
  /* background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/background.jpg); */
  background-position: center;
  background-size: cover;
  /* position: relative; */
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  border-radius: 50%;
  width: 100px;
}

.nav-links {
  /* flex: 1;
  text-align: right; */
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
  /* position: relative */
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 1px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  font-size: 20px;
  margin: 10px 0 50px;
}

.main-link {
  /* display: inline-block; */
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 12px 34px;
  font-size: 13px;
  /* background: transparent; */
  /* position: relative; */
  /* cursor: pointer; */
}

.main-link:hover {
  background: rgb(179, 210, 255, 0.5);
  transition: 0.5s;
}

.nav-open {
  display: none;
}

.nav-close {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: fixed;
    background: rgb(179, 210, 255, 0.5);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav-open {
    display: block;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    opacity: 1;
    transition: 1s;
  }

  .nav-open:hover {
    background: rgb(179, 210, 255, 0.75);
  }

  .nav-close {
    display: block;
    background: transparent;
    border: 2px solid white;
    color: white;
    margin: 10px;
    padding: 5px;
    font-size: 22px;
    cursor: pointer;
    opacity: 1;
  }

  .nav-close:hover {
    background: rgb(179, 210, 255, 0.75);
    transition: 0.5s;
  }

  .nav-links ul {
    padding: 20px;
  }

  .row {
    flex-direction: column;
  }
}

.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.course p {
  text-align: left;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.col {
  flex-basis: 30%;
  background: rgb(179, 210, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
}

h3 {
  padding-bottom: 20px;
}

/* mountains */

.mountains {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.mountainColumn {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.mountains h1 {
  padding-bottom: 25px;
}
.mountainColumn img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgb(179, 210, 255, 0.5);
}

.layer h3 {
  width: 100%;
  bottom: 49%;
  color: white;
  /* left: 50%;
  transform: translateX(-50%); */
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  font-size: 30px;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* daejeon css */

.daejeon {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.daejeon h1 {
  padding: 20px;
}

.daejeonColumn {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.daejeonColumn img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  object-fit: cover;
}

.daejeonColumn img:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8);
}

.daejeonColumn h3 {
  text-align: center;
  margin-top: 20px;
}

.daejeonColumn p {
  text-align: center;
  margin-bottom: 10px;
}

/* call to aciton */

.cta {
  margin: 100px auto;
  width: 80%;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
}

.ctaTwo {
  margin: 50px auto;
  width: 80%;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 50px 0;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 20px;
  }
}

/* page one style */

.sub-header {
  min-height: 100vh;
  width: 100%;
  background-image: url(images/backgroundPageOne.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.sub-header h1 {
  margin-bottom: 0;
}

.pageOneContent {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
}

.pageOneContent .description {
  margin-top: 50px;
  margin-bottom: 75px;
}

.pageOneContent .description h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 1.5em;
}

.pageOneContent .description p {
  line-height: 1.5em;
  text-align: left;
}

.pageOneColumn {
  flex-basis: 48%;
  padding: 30px 2px;
}

.pageOneColumn img {
  max-width: 75%;
}

.pageOneColumn h1 {
  padding-top: 0;
}

.pageOneColumn p {
  padding: 15px 0 25px;
}

.map {
  padding-top: 75px;
  padding-bottom: 50px;
  /* max-width: 100%; */
  overflow: hidden;
}

/* photo array */

.photoArray {
  display: grid;
  width: 100%;
  height: 80vh;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 25% 25%;
  grid-template-rows: 50% 50%;
  text-align: center;
  grid-template-areas:
    "photoOne photoTwo photoThree"
    "photoOne photoFour photoFive";
}

/* .photoArray div {
  border: 2px solid black;
} */

.photoArray div:first-child {
  grid-area: photoOne;
}

.photoArray img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#galleryTitle {
  padding: 50px;
}

.map h2 {
  padding: 50px;
}

/* page two */

.sub-header-two {
  min-height: 100vh;
  width: 100%;
  background-image: url(images/backgroundPageTwo.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.sub-header-two h1 {
  margin-bottom: 0;
}

/* page three */

.sub-header-three {
  min-height: 100vh;
  width: 100%;
  background-image: url(images/backgroundPageThree.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.sub-header-three h1 {
  margin-bottom: 0;
}
